<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ReportNG Suite" > 

<listeners>
      <listener class-name="org.uncommons.reportng.HTMLReporter"/>
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
  </listeners>
  <test name="AutomationScripts">
    <classes>
     
      <class name="RezoomexApplicantTrackingSystem.com.rats.ExtentReport"/>
      <class name="RezoomexApplicantTrackingSystem.com.rats.CaptureScreenShot"/>
     <class name="RezoomexApplicantTrackingSystem.com.rats.Resumeupload"/>
   </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
